################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/.vs
/Solution/Project/obj
/Solution/Project/bin
